 <nav>
    <div class="container" >
      <!--Barra de navegacion--->
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">📑ProjNotes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="../about.hbs">Acerca de...</a></li>
      </ul>
    </div>
    </div>
  </nav>