//Objeto JSON (Objeto JS)
{
    "presets":[
        [
            "minify", {
                "builtIns":false,
                "evaluate":false,
                "mangle":true
            }
        ],
        [
         "@babel/preset-env",
         {
        "targets": {"node":"current"}  
         }
        ]
    ],
    "plugins": [
        [
            "module-resolver",{
                "root": "./",
                "alias": {
                    "@s": "./server"
                }
            }
        ]
    ]
}