//Objeto JSON (Objeto JS)
{
    "presets":[
        [
            "minify"
        ],
        [
         "@babel/preset-env",
         {
        "targets": {"node":"current"}  //voy a estar utilizando de entorno
         }
        ]
    ],
    "plugins": [
        [
            "module-resolver",{
                "root": "./",
                "alias": {
                    "@s": "./server"
                }
            }
        ]
    ]
}