<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Cargando Materialize--->
     <link rel='stylesheet' href='/vendor/materializecss/css/materialize.min.css' />

    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}
    <!--Materialize script--->
     <link rel='stylesheet' href='/vendor/materializecss/js/materialize.min.js' />

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
